body {
    margin: 0;
    max-width: 150%;
    background-color: #1B244A;
}

h3 {
    font-size: 40px;
    color: #EEEEEE;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    line-height: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.black-box {
    background-color: black;
    margin: 0 auto;
    padding: 1px 19px;
}

.points-text {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    height: 120px;
    width: 117px;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-container button {
    margin-top: 50px;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    color: #9AABD8;

    padding: 7px 9px;
    background-color: rgba(0, 0, 0, 0);
}

#new-game-btn {
    padding: 20px 10px;
    margin-top: 150px;

    border: 2px solid #9AABD8;
    border-radius: 5px;

    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #EEEEEE;
    text-shadow: 0 0 2px #EEEEEE;
    background-color: rgba(0, 0, 0, 0);
}